@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Oswald:wght@300&display=swap');
/* HEADER */
header {
    position: relative  ;
    background-color: lightslategray;
    height: 250px;
    text-decoration: none;

    }
        #fotocv {
            
            position: absolute;
            left: 30px;
            top: 30px;
            max-height: 70%;
            max-width: 28%;
            border: solid black;
            border-radius: 50%;
            
    }
        h1{
            
            position: absolute;
            color: black;
            left: 40%;
            top: 10px;
            font-family: 'fjalla one', sans-serif;
            font-size: 75px;  
    }
        nav{
            right: auto;
            position: absolute;
            bottom: 10px;
            right: 50px;
            font-size: 20px;
            font-family: 'fjalla one', sans-serif;
            
    }
/***********************MAIN************************ */

main{
    text-align: center;
    background-color: #313233;
    color: #cbcfd4;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    
    
}
    h2{
        font-family: 'fjalla one', sans-serif;
        font-size: 40px;
    }

    /* *********************FOOTER************** */

footer{
    text-align: center;
    background-color: #313233;
    color: #cbcfd4;
    

}